* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.arrow {
    height: 15px;
    width: 15px;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    padding: 10px 24px;
}

.header-logo img {
    height: 34px;
}

nav {
    z-index: 1;
}

nav p {
    text-align: center;
    margin: 0 15px 0;
    font-size: 14px;
    color: #1c1d1f;
}

.search-button {
    display: flex;
    border: .2px solid grey;
    border-radius: 150px;
    height: 46px;
    width: 564px;
    padding: 0 94px 0 0;
}

.search-button input {
    border: none;
    width: 100%;
}

.search-button input::placeholder {
    font-size: 14px;
}

.search-button input:focus {
    outline: none;
}

.search-icon {
    cursor: not-allowed;
    opacity: .5;
    width: 25px;
    font-weight: ;
    margin: 0 15px;
}

.header p a {
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #1c1d1f;
}

.cart,
.world {
    height: 30px;
    margin-left: 20px;
}

/* .world:hover {
    color: #5b26e2;
} */

.login,
.signup {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.login {

    color: black;
    border: 1px black solid;
    padding: 8px 20px;
}

.signup {
    background-color: black;
    color: #fff;
    padding: 10px 18px;
}


/* Main */

/* Main-Image */

.pic-container {
    position: relative;
    margin-bottom: 50px;
}

.pic-text {
    background-color: white;
    position: absolute;
    top: 70px;
    left: 75px;
    text-align: left;
    height: 150px;
    width: 455px;
    padding: 24px;
}

.pic-text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;

}

.pic-text p {
    font-size: 19px;
    line-height: 27px;
    color: #1c1d1f;
    text-align: left;

}


/* Course Section */


.course h1,
.grid_tab p {
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.course>h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #1c1d1f;
}



.course h3 {
    font-weight: normal;
    margin: 10px 0;
}

.course {
    margin: auto;
    margin-bottom: 40px;
    width: calc(100% - 5%);
}

.expand_tab,
viewing {
    border: 1px solid #ccc;
    padding: 2rem;
}

.expand_tab_text {
    text-align: left;
    width: 800px;
    color: #1c1d1f;
}

.grid_tab {
    display: block;
}

.expand_tab .grid_tab,
.viewing .grid_tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid_tab img {
    width: 100%;
}

.grid_tab p,
.grid_tab .instructor,
.grid_tab .star-rating,
.grid_tab .figure-rating,
.grid_tab .price {
    margin-bottom: 5px;
}

.instructor {
    display: block;
    color: #666565;
    font-size: 12px;
}

.figure-rating {
    margin-right: 0.4rem;
    color: #b4690e;
    font-weight: 700;
}

.total-rating {
    color: #6a6f73;
    margin-left: 5px;
}

.orinal-price {
    text-decoration: line-through;
    color: #666565;
}

.discount-price {
    font-weight: bold;
}

.course>a {
    display: inline-block;
    text-transform: capitalize;
    margin: 10px 10px 10px 0;
    color: #666565 !important;
    font-weight: bold;
}

.course>a:hover {
    color: #1c1d1f !important;
}

.course a,
.viewing a {
    text-decoration: none;
    color: inherit;
}

.course-label {
    display: inline-block;
    text-transform: capitalize;
    border: 1px solid #333333;
    padding: 10px;
    margin: 15px 0;
    color: #333333;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Icons */


.icons {
    display: flex;
    align-items: center;
    background-color: #f7f9fa;
    padding: 0 30px;
    height: 88px;
}

.iconA,
.iconB {
    margin-right: 130px;
}

.icons img {
    height: 40px;
    background-color: #ccc;
    border: none;
    padding: 10px;
    border-radius: 100%;
    margin-right: 20px;
}

.iconA,
.iconB,
.iconC {
    display: flex;
    font-weight: 700;
}

.iconC img {
    transform: rotate(45deg);
}


/* Students are viewing */


.viewing {
    margin: 28px;
}

.viewing h2 {
    margin-bottom: 20px;
}

.viewing a .bestseller {
    display: block;
    background-color: #eceb98;
    color: #3d3c0a;
    font-size: 12px;
    font-weight: 700;
    width: 70px;
    padding: 2px 8px;

}



/* Featured topics */


.featured-topics {
    padding: 64px 24px;
    background-color: #f7f9fa;
}

.featured-topics h2 {
    margin-bottom: 30px;
}

.featured-topics ul {
    display: flex;
    list-style: none;
}

.featured-topics li {
    margin-right: 150px;
    margin-bottom: 15px;
}

.featured-topics li a {
    font-weight: 700;
    color: #5b26e2;
}

.featured-topics li span {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #646f73;
}

.explore {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    height: 40px;
    width: 155px;
    margin-top: 10px;
}

.explore:hover {
    background-color: #ccc;
}


/* Instructors */


.instructors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 250px;
    gap: 90px;
}

.instructor-text {
    margin-top: 20px;
}

.instructors h3 {
    margin-bottom: 25px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.instructors p {
    font-size: 19px;
    line-height: 28px;
    color: #1c1d1f;
    text-align: left;
}

.instructors a {
    background-color: black;
    text-decoration: none;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    height: 45px;
    width: 175px;
    margin-top: 20px;

}


/* Companies */

.companies {
    background-color: #f7f9fa;
    padding: 30px 0;
}

.companies h2,
.companies p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    color: #1c1d1f;
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;

}

.company-logo img:not(.company-logoB, .company-logoF) {
    margin-right: 140px;
}

.company-logo img:not(.company-logoA, .company-logoC, .company-logoD, .company-logoE, .company-logoF) {
    margin-right: 120px;
}


Instructor-lady .instructor-lady-text {
    margin-top: 20px;
}

.instructor-lady-text img {
    height: 35px;
    margin-bottom: 15px;
}

.instructor-lady-text p {
    text-align: left;
}

.transform a {
    width: 120px;
}



/* Footer */


footer {
    background-color: #1c1d1f;
    padding: 24px 44px 0 44px;
}

.footer-section {
    position: relative;
}

.footer-section ul {
    display: flex;
    padding-top: 10px;
    color: white;
}

.footer-section ul li {
    list-style: none;
    line-height: 20px;
    padding: 4px 0;
    margin-right: 140px;
    font-size: 14px;
    color: white;
}

.footer-section ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.Footer-language {
    position: absolute;
    right: -140px;
    top: 2px;
}

.Footer-language li {
    color: white;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid white;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
}

.Footer-language li .world {
    height: 20px;
    display: flex;
    margin-right: 7px;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 20px;
}

.footer-footer a img {
    height: 34px;
}

.footer-footer p {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}