* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.arrow {
    height: 15px;
    width: 15px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    /* justify-content: center; */
}

.header-logo img {
    height: 34px;
}

nav {
    z-index: 1;
}

nav p {
    text-align: center;
    margin: 0 15px 0;
    font-size: 14px;
    color: #1c1d1f;

}

/* 
nav ul li:hover {
    background-color: #F4F4F4;
}


nav ul {
    list-style-type: none;

}

nav ul li {
    width: 100px;
    display: block;
    height: 47px;
    padding-top: 15px;
    text-align: center;
    background-color: #ffffff;


}

nav ul li ul {
    display: none;
    margin-top: 15px;
    width: 00px;

    clear: both;

}

nav ul li:hover ul {
    display: block;

}

nav ul li .sub-menu {

    width: 240px;
}

nav ul li ul li {
    display: block;
    padding-left: 10px;
    text-align: left;
    width: 240px;
    height: 40px;

}

nav ul li:hover ul li ul {
    display: none;
}

nav ul li:hover .sub-menu li:hover .sub-menu-1 {
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: -16px;
    padding: 0px;

}

nav ul li:hover .sub-menu li:hover .any1 {

    margin-top: -56px;
}

nav ul li:hover .sub-menu li:hover .any2 {
    margin-top: -96px;
}

nav ul li:hover .sub-menu li:hover .any3 {
    margin-top: -136px;
}

nav ul li:hover .sub-menu li:hover .any4 {
    margin-top: -176px;
} */

.search-button {
    display: flex;
    /* flex: 1; */
    border: .2px solid grey;
    border-radius: 150px;
    height: 46px;
    width: 564px;
    padding: 0 94px 0 0;
}

.search-button input {
    border: none;
    width: 100%;
}

.search-button input::placeholder {
    font-size: 14px;
}

.search-button input:focus {
    outline: none;
}

.search-icon {
    cursor: not-allowed;
    opacity: .5;
    width: 25px;
    font-weight: ;
    margin: 0 15px;
    /* padding: 20px 16px; */
}

.header p a {
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #1c1d1f;
}

.cart,
.world {
    height: 30px;
    margin-left: 20px;
}

/* .world:hover {
    color: #5b26e2;
} */

.login,
.signup {
    margin-left: 10px;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.login {

    color: black;
    border: 1px black solid;
    padding: 8px 20px;
}

.signup {
    background-color: black;
    color: #fff;
    padding: 10px 18px;
}


main {}

.pic-container {
    position: relative;
    margin-bottom: 50px;
}

.pic-text {
    background-color: white;
    position: absolute;
    top: 64px;
    left: 72px;
    text-align: left;
    height: 150px;
    width: 440px;
    padding: 24px;
}

.pic-text h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pic-text p {
    font-size: 19px;
    line-height: 27px;
    color: #1c1d1f;
}

.icons {
    display: flex;
    background-color: #f7f9fa;
    padding: 20px 0;
}

.iconA,
.iconB {
    margin-right: 130px;
}

.icons img {
    height: 40px;
    background-color: #ccc;
    border: none;
    padding: 10px;
    border-radius: 100%;
    margin-right: 20px;
}

.iconA,
.iconB,
.iconC {
    display: flex;
    padding: 0 24px;
    font-weight: 700;
}

.iconC img {
    transform: rotate(45deg);
}


.featured-topics {
    padding: 64px 24px;
    background-color: #f7f9fa;
}

.featured-topics h2 {
    margin-bottom: 30px;
}

.featured-topics ul {
    display: flex;
    list-style: none;
}

.featured-topics li {
    margin-right: 150px;
    margin-bottom: 15px;
}

.featured-topics li a {
    font-weight: 700;
    color: #5b26e2;
}

.featured-topics li span {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #646f73;
}

.explore {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    height: 40px;
    width: 155px;
    margin-top: 10px;
}

.explore:hover {
    background-color: #ccc;
}


.instructor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 250px;
    gap: 90px;
}

.instructor-text {
    margin-top: 20px;
}

.instructor h3 {
    margin-bottom: 25px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.instructor p {
    font-size: 19px;
    line-height: 28px;
    color: #1c1d1f;
    text-align: left;
}

.instructor a {
    background-color: black;
    text-decoration: none;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    height: 45px;
    width: 175px;
    margin-top: 20px;

}

.companies {
    background-color: #f7f9fa;
    padding: 30px 0;
}

.companies h2,
p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    color: #1c1d1f;
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;

}

.company-logo img:not(.company-logoB, .company-logoF) {
    margin-right: 140px;
}

.company-logo img:not(.company-logoA, .company-logoC, .company-logoD, .company-logoE, .company-logoF) {
    margin-right: 120px;
}



Instructor-lady .instructor-lady-text {
    margin-top: 20px;
}

.instructor-lady-text img {
    height: 35px;
    margin-bottom: 15px;
}

.instructor-lady-text p {
    text-align: left;
}

.transform a {
    width: 120px;
}

footer {
    background-color: #1c1d1f;
    padding: 24px 44px 0 44px;
}

.footer-section {
    position: relative;
}

.footer-section ul {
    display: flex;
    padding-top: 10px;
    color: white;
}

.footer-section ul li {
    list-style: none;
    line-height: 20px;
    padding: 4px 0;
    margin-right: 140px;
    font-size: 14px;
    color: white;
}

.footer-section ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.Footer-language {
    position: absolute;
    right: -140px;
    top: 2px;
}

.Footer-language li {
    color: white;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid white;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
}

.Footer-language li .world {
    height: 20px;
    display: flex;
    margin-right: 7px;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 20px;
}

.footer-footer a img {
    height: 34px;
}

.footer-footer p {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}